<div class="content-wrapper ">
	<!-- Content Header (Page header) scrollpage -->
	<section class="content-header">
		<div class="header-icon">
			<i class="fa fa-question-circle"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Help</h1>
			<small>Here you can view required help.</small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i>Home</a></li>
				<li class="active">Help</li>
			</ol>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group">
							<a class="btn btn-primary"> <i class="fa fa-list"></i>&nbsp;Help
							</a>
						</div>
					</div>
					<div class="panel-body">
						<uib-accordion close-others="oneAtATime">
						<div uib-accordion-group class="panel-default"
							is-open="status.open">
							<uib-accordion-heading> How to change
							password <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status2.open, 'glyphicon-chevron-right': !status2.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-6">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to 'Settings' <span
									class="glyphicon glyphicon-arrow-right"></span> 'Change
									Password'.
								</li> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>

								<li>Provide your old password.</li> <br>
								<li>Provide your new password (Must contain an uppercase
									letter, lowercase letter, a number, a special character(! @ # $
									* % &)).</li> <br>
								<li>Confirm your new password.</li>
								<li>Click on submit to proceed</li>
							</div>
							<div class="col-sm-6">
								<img class="col-sm-12"
									src="images/help_faqs/changepassword_ss.JPG">
							</div>
							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status1.open">
							<uib-accordion-heading> How to reset
							forgot password <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status1.open, 'glyphicon-chevron-right': !status1.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<p>Click on forgot password from login page and</p>

							<div class="col-md-12">
								<img class="col-sm-8" src="images/help_faqs/login_page.png" width="100" height="400">
							</div>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<p>Provide your registered Email-id to get the previous
								password.</p>
							<br>
							<div class="col-md-8">
								<img class="col-sm-12"
									src="images/help_faqs/forgot_password.JPG"
									class="changepassword">
							</div>
							</uib-accordion-body>
						</div>
						<!-- <div uib-accordion-group class="panel-default"
							is-open="status2.open">
							<uib-accordion-heading> How to update
							company profile <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status5.open, 'glyphicon-chevron-right': !status5.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-8">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise_company_management.png"
									class="updatecompany" />
							</div>
							<div class="col-md-4">
								<h4  style="font-size:20px"><u>Step 1:</u></h4>
								<p>
									Navigate to Enterprise setup <span
										class="glyphicon glyphicon-arrow-right"></span> Company
									management
								</p>
								<h4 style="font-size:20px"><u>Step 2:</u></h4>
								<p>Edit required fields and click "Submit" to update your
									company details.</p>
							</div>
							</uib-accordion-body>
						</div> -->
						<div uib-accordion-group class="panel-default"
							is-open="status3.open">
							<uib-accordion-heading> How to Setup
							EnterPrise/Individual Setup <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status6.open, 'glyphicon-chevron-right': !status6.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<h4 style="font-size: 30px">
								<u>How to update company profile</u>
							</h4>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<li>Navigate to Enterprise setup <span
								class="glyphicon glyphicon-arrow-right"></span> Company
								management
							</li>
							<br>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<li>Edit required fields and click "Submit" to update your
								company details.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise_company_management.png">
							</div>
							<br>
							<br>
							<h4 style="font-size: 30px">
								<u>How to create department</u>
							</h4>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<li>Navigate to Enterprise setup <span
								class="glyphicon glyphicon-arrow-right"></span> Department
								Management
							</li>
							<br>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<li>Click on "Add Department" to add a department.</li>
							<br>
							<h4 style="font-size: 20px">
								<u>Step 3:</u>
							</h4>

							<li>Enter department name.</li>
							<br>
							<li>Enter department description.</li>
							<br>
							<li>Provide the status of the department.</li>
							<br>

							<li>Click "Save" to save your department details and you
								will be navigating to the department list.</li>
							<br>
							<li>Here you can view departments list and also can "Update"
								or "Delete" the Departments in "Action".</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise - Department.png"> <br>
							</div>
							<br>
							<br>

							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status4.open">
							<uib-accordion-heading> How to create
							regional center <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status7.open, 'glyphicon-chevron-right': !status7.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<p>
								Navigate to Enterprise setup <span
									class="glyphicon glyphicon-arrow-right"></span> Regional Center
							</p>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<p>Click on "Add Regional Center" to add a regional center.</p>
							<h4 style="font-size: 20px">
								<u>Step 3:</u>
							</h4>
							<p>Fill up the required fields in form</p>
							<p>Click "Save" to save your regional center details and you
								will be navigating to the regional center list.</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise- Regional center-Add.png" />
							</div>
							<h4 style="font-size: 20px">
								<u>Step 4:</u>
							</h4>
							<p>There you can view the regional center list and also can
								"Update" or "Delete" the regional center in "Action". 
								Below is the "Update" page where you can update the Existing records.</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/Regional center_update.png" />
							</div>
							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status5.open">
							<uib-accordion-heading> How to create
							insurance <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status8.open, 'glyphicon-chevron-right': !status8.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<p>
								Navigate to Enterprise setup <span
									class="glyphicon glyphicon-arrow-right"></span> Insurance
							</p>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<p>Fill up the required fields in form</p>
							<p>Click "Save" to save insurance details and you will be
								navigating to the insurance list.</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise- Insurance-Add.png" />
							</div>
							<h4 style="font-size: 20px">
								<u>Step 3:</u>
							</h4>
							<p>There you can "Update" or "Delete" the insurance in
								"Action" section. Below is the "Update" page where you can update the Existing records.</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/Insurance_update.png" />
							</div>

							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status6.open">
							<uib-accordion-heading> How to create
							school <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<h4 style="font-size: 20px">
								<u>Step 1:</u>
							</h4>
							<p>
								Navigate to Enterprise setup <span
									class="glyphicon glyphicon-arrow-right"></span> School
							</p>
							<h4 style="font-size: 20px">
								<u>Step 2:</u>
							</h4>
							<p>Click on "Add School" to add a school details.</p>

							<h4 style="font-size: 20px">
								<u>Step 3:</u>
							</h4>
							<p>Fill up the required fields in form</p>
							<p>Click "Save" to save your school details and you will be
								navigating to the school list.</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Enterprise- School-Add.png" />
							</div>
							<h4 style="font-size: 20px">
								<u>Step 4:</u>
							</h4>
							<p>There you can "Update" or "Delete" the school in "Action".
							Below is the "Update" page where you can update the Existing records</p>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/school_update.png" />
							</div>
							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status7.open">
							<uib-accordion-heading> How to add
							payment method <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status10.open, 'glyphicon-chevron-right': !status10.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<p>
									Navigate to Enterprise setup <span
										class="glyphicon glyphicon-arrow-right"></span> Payment Method
								</p>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<ul>
									<li>Enter payment method name</li>
									<li>Enter payment method description</li>
								</ul>
								<p>Click "Save" to save your payment method details and you
									will be navigating to payment method list.
									</p><br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/paymentmethod-add.png" />
							</div>
							</uib-accordion-body>
						</div>
						<div uib-accordion-group class="panel-default"
							is-open="status8.open">
							<uib-accordion-heading> How to manage the
							user management <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to user management.You will get user list.</li> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>Click on "Add User" to add a User details.</li> <br>
								<li>Fill up the required fields in form.</li> <br>
								<li>Here, you can create the Therapist,Admin and etc..</li> <br>
								<li>Click "Save" to save your user details and you will be
									navigating to the user list.</li> <br>

							</div>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/User_management_Add.png" />
							</div>
							<br>
							<li>Then you can view the user list and you can "Update" the
								users.</li>
							<br>
							<li>And also you can assign the Therapist's patients to
								different Therapists one after one.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/User_ Management_list.png" />
							</div>
							</uib-accordion-body>
						</div>



						<div uib-accordion-group class="panel-default"
							is-open="status9.open">
							<uib-accordion-heading> How to manage the
							Patient management <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to Patient management.<span
									class="glyphicon glyphicon-arrow-right"></span> Add Patient
								</li> <br> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>Fill up the required fields in form.</li> <br>
								<li>Here, you can give the Patient Details,Communication
									Address,Client Type,Payment details step-by-step in different
									Pages.</li> <br>
								<li>Click "Save" to save your Patient details and you will
									be navigating to the Patient list.</li> <br>

							</div>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Pationet Management-Add pationet-.png" />
							</div>
							<br>
							<li>Here you can view patient list and you can "Update" the
								Patient from "Action".</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/Pationet Management- pationet-List.png" />
							</div>
							</uib-accordion-body>
						</div>

						<div uib-accordion-group class="panel-default"
							is-open="status11.open">
							<uib-accordion-heading> How to manage the
							Appointment <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to Appointment.<span
									class="glyphicon glyphicon-arrow-right"></span> Add
									Appointment.
								</li> <br> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>Provide start time, start date, end date, end time and
									Select the Department.</li> <br>
								<li>Click on 'Check Availability'.</li> <br>
								<div class="col-md-12">
									<img class="col-sm-12"
										src="images/help_faqs/Appointment-Add.png" />
								</div>
								<li>Here you will get Therapist available Schedules.</li> <br>
								<li>Click on 'Book Appointment'.You will get Sub hours in a
									particular schedule. And Select the desired availability
									timings.</li> <br>
								<li>Click on desired availability timings. And you will be
									once again navigate to addAppointment page.</li> <br>
								<div class="col-md-12">
									<img class="col-sm-12"
										src="images/help_faqs/Search_Schedule.PNG" />
								</div>
								<li>Fill up the required fields in form.</li> <br>
								<li>Click on "Submit" to save your Appointment details and
									you will be navigating to the Appointment list.</li> <br>

							</div>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/addAppointment.png" />
							</div>
							<br>
							<li>Then you can view the Appointment list and the
								Appointment details like,Therapist information and the Patient
								information with Time & date.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/AppointmentList.png" />
							</div>
							<li>If Appointment completed, invoice will be generated.If
								you click on "invoice generated",you will be navigate to Invoice
								Page.</li>
							<br>
							<li>If you click on "Edit",you will be navigate to Patient
								Information Page.</li>
							<br>
							<li>If you click on "Eye",you will be navigate to Patient
								Information Page.</li>
							<br>

							<li>Here you can view the Generated Invoice and you can
								download it and at the same time you can take print of it.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/Invoice.png" />
							</div>
							<li>Here you can access Patient Documents,Patient Goals
								Sheet,Patient Progress Notes,Patient Exit Note.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/PatientInfo.png" />
							</div>
							<li>Here you can change the status of the appointment
								,whether it is awaiting, completed or canceled.And Both
								Therapist and patient will get mail when the status is provided.</li>
							<br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/AppointmentStaus.png" />
							</div>
							</uib-accordion-body>
						</div>

						<div uib-accordion-group class="panel-default"
							is-open="status12.open">
							<uib-accordion-heading> How to manage the
							Calendar <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to Calendar.You will get color-coded Calendar
									month wisely by default.Then you can visit weekly wise and Day
									wise.</li> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>Here,you can see appointments, Schedules and holidays
									of Therapists.</li> <br>
								<li>From here you can add appointment also.</li> <br>

							</div>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/Calender.png" />
							</div>
							<br>
							<!-- <li>Then you can view the user list and you can "Update" the users.</li><br>
							<li>And also you can assign  the Therapist's  patients to different Therapists one after one.</li><br>
							<div class="col-md-12">
								<img class="col-sm-12"
									src="images/help_faqs/User_ Management_list.png" />
							</div> --> </uib-accordion-body>
						</div>


						<div uib-accordion-group class="panel-default"
							is-open="status13.open">
							<uib-accordion-heading> How to manage the
							Patient Billing <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to Accounts.<span
									class="glyphicon glyphicon-arrow-right"></span> Patient
									Billing.
								</li> <br> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>By default You can view the billing patients who are
									eligible for Billing .</li> <br>
								<li>you can also provide start date , end date and Select
									the Client type to filter the patients.</li> <br>
								<li>Click on 'Filter'. Then you will get all
									Patients between selected dates..</li> <br>
								<li>Click on 'Edit'. Then you will navigate to 'Patient
									Billing Details'.</li> <br>
								<div class="col-md-12">
									<img class="col-sm-12"
										src="images/help_faqs/PatientBillingList.png" />
								</div>


								<li>Here you can see the Patient details and his Session
									details.</li> <br>
								<li>Here you can bill for the Patient by providing required
									fields.</li> <br>
								<li>Click on 'Submit'.your billing is completed.You will be
									navigate to Payments list.</li> <br>
								<div class="col-md-12">
									<img class="col-sm-12"
										src="images/help_faqs/PatientBilling.png" />
								</div>
								<li>Here you can see the Payment details of the Patient.</li> <br>
								<li>From Patient Billing page also you can navigate to this
									page by clicking on "Eye" button.</li> <br>
							</div>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/PaymentsList.png" />
							</div>
							</uib-accordion-body>
						</div>

						<div uib-accordion-group class="panel-default"
							is-open="status14.open">
							<uib-accordion-heading> How to manage
							Invoice <i class="pull-right glyphicon"
								ng-class="{'glyphicon-chevron-down': status9.open, 'glyphicon-chevron-right': !status9.open}">
							</i> </uib-accordion-heading>
							<uib-accordion-body>
							<div class="col-md-12">
								<h4 style="font-size: 20px">
									<u>Step 1:</u>
								</h4>
								<li>Navigate to Accounts.<span
									class="glyphicon glyphicon-arrow-right"></span> Invoices.
								</li> <br> <br>
								<h4 style="font-size: 20px">
									<u>Step 2:</u>
								</h4>
								<li>By default You can view the all the Invoices .</li> <br>
								<li>you can also provide Start time, end time and Select
									the Therapist for filter the Invoices.</li> <br>
								<li>Click on 'Filter'. Then you will get you desirable
									Invoices.</li> <br>
								<li>Click on 'Edit'. Then you will navigate to 'Edit
									Invoice'.</li> <br>
								<div class="col-md-12">
									<img class="col-sm-12" src="images/help_faqs/Invoice.png" />
								</div>


								<li>Here you can see the Patient details and his completed
									Session details with Payment and you can add & remove the
									Items.</li> <br>
								<li>you can edit the Invoice by providing required fields.</li>
								<br>
								<li>Click on 'Save'.You will be navigate to 'view invoice'.</li>
								<br>
								<div class="col-md-12">
									<img class="col-sm-12" src="images/help_faqs/EditInvoice.png" />
								</div>
								<li>Here you can see the invoice details of the Patient.</li> <br>
								<li>You can Print it and Download the invoice.</li> <br>
								<li>From 'invoice' page also you can navigate to this page
									by clicking on "Eye" button.</li> <br>
							</div>
							<div class="col-md-12">
								<img class="col-sm-12" src="images/help_faqs/ViewInvoice.png" />
							</div>
							</uib-accordion-body>
						</div>
						</uib-accordion>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>










