<div class="content-wrapper scrollpage">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="fa ti-settings"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Change Password</h1>
			<small>Here you can update your existing password.</small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i>Home</a></li>
				<li><a href="#">Settings</a></li>
				<li class="active">Change Password</li>
			</ol>
		</div>
	</section>

	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group">
							<a class="btn btn-primary" ng-click="gotoChangepassword();">
								<i class="fa fa-list"></i>&nbsp;Change Password
							</a>
						</div>
					</div>
					<div class="panel-body">
						<div class="page-forgot">
							<div class="">
								<div class="form-container">
									<form class="form-horizontal col-sm-6"
										name="forgotPasswordForm">

										<div class="form-group">
											<label class="control-label" for="password">
											<span
									ng-if="changepasswordDto.oldPassword == undefined || changepasswordDto.oldPassword =='' "
									style="color: red">*</span>
											Old Password</label> <span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.oldpassword.$touched && forgotPasswordForm.oldpassword.$invalid)">
												<span
												ng-show="forgotPasswordForm.oldpassword.$error.required">
													is required. </span>
											</span><input type="password" title="Please enter your password"
												ng-model="changepasswordDto.oldPassword"
												placeholder="Enter Old Password" name="oldpassword"
												id="password" class="form-control" required>
										</div>

										<div class="form-group">
											<label class="control-label" for="password"><span
									ng-if="changepasswordDto.newPassword == undefined || changepasswordDto.newPassword =='' "
									style="color: red">*</span>New
												Password</label><span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.psw.$touched && forgotPasswordForm.psw.$invalid)">
												<span ng-show="forgotPasswordForm.psw.$error.required">
													is required. </span><span style="color: red"
												ng-show="forgotPasswordForm.psw.$error.pattern">
													Please enter a valid Password</span>
											</span> <input type="password" placeholder="Enter New Password"
												ng-model="changepasswordDto.newPassword"
												class="form-control" name="psw" id="psw" id="psw"
												ng-model="user.password"
												title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
												ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
												required>

											<div class=" col-lg-8" id="message">
												<h3>Password must contain the following:</h3>
												<span><i id="letter" class="invalid">A lowercase
														letter</i></span><br> <span><i id="capital"
													class="invalid">A capital (uppercase) letter</i></span><br> <span><i
													id="number" class="invalid">A number</i></span><br> <span><i
													id="special" class="invalid">A Special Character[! @ #
														$ % &*]</i></span><br> <span><i id="length"
													class="invalid">Minimum 8 characters</i></span>
											</div>
										</div>

										<script>
											var myInput = document
													.getElementById("psw");
											var letter = document
													.getElementById("letter");
											var capital = document
													.getElementById("capital");
											var number = document
													.getElementById("number");

											var special = document
													.getElementById("special");
											var length = document
													.getElementById("length");
											// When the user clicks on the password field, show the message box
											myInput.onfocus = function() {
												document
														.getElementById("message").style.display = "block";
											}

											// When the user clicks outside of the password field, hide the message box
											myInput.onblur = function() {
												document
														.getElementById("message").style.display = "none";
											}

											// When the user starts to type something inside the password field
											myInput.onkeyup = function() {
												// Validate lowercase letters
												var lowerCaseLetters = /[a-z]/g;
												if (myInput.value
														.match(lowerCaseLetters)) {
													letter.classList
															.remove("invalid");
													letter.classList
															.add("valid");
												} else {
													letter.classList
															.remove("valid");
													letter.classList
															.add("invalid");
												}

												// Validate capital letters
												var upperCaseLetters = /[A-Z]/g;
												if (myInput.value
														.match(upperCaseLetters)) {
													capital.classList
															.remove("invalid");
													capital.classList
															.add("valid");
												} else {
													capital.classList
															.remove("valid");
													capital.classList
															.add("invalid");
												}

												// Validate numbers
												var numbers = /[0-9]/g;
												if (myInput.value
														.match(numbers)) {
													number.classList
															.remove("invalid");
													number.classList
															.add("valid");
												} else {
													number.classList
															.remove("valid");
													number.classList
															.add("invalid");
												}
												// Validate Special Character
												var specials = /[!,#,$,%,&,*,+,-,.,/,:,;,<,=,>,?,@,\,^,_,`,{,|,},~]/g;
												if (myInput.value
														.match(specials)) {
													special.classList
															.remove("invalid");
													special.classList
															.add("valid");
												} else {
													special.classList
															.remove("valid");
													special.classList
															.add("invalid");
												}
												// Validate length
												if (myInput.value.length >= 8) {
													length.classList
															.remove("invalid");
													length.classList
															.add("valid");
												} else {
													length.classList
															.remove("valid");
													length.classList
															.add("invalid");
												}

											}
										</script>

										<div class="form-group">
											<label class="control-label" for="password">Confirm
												Password</label> <span style="color: red" ng-cloak
												ng-show="(forgotPasswordForm.confirmpassword.$touched && forgotPasswordForm.confirmpassword.$invalid)">
												<span
												ng-show="forgotPasswordForm.confirmpassword.$error.required">
													is required.</span>
											</span> <input type="password" title="Please enter your password"
												ng-model="changepasswordDto.confirmPassword"
												placeholder="Enter Confirm Password" name="confirmpassword"
												id="password" class="form-control" required>
										</div>
										<div class="row" align="center">
											<span ng-if="message != undefined" style="color: red">{{message}}<br>
											</span>
										</div>
										<div class="row">
											<button href="" class="btn btn-primary"
												ng-click="doChangePassword();"
												ng-disabled="forgotPasswordForm.$invalid">Submit</button> <button
												href="" class="btn btn-danger" ng-click="doCancel();">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<style>
/* The message box is shown when the user clicks on the password field */
#message {
	display: none;
	background: white;
	color: #000;
	position: relative;
	padding: 1px;
	margin-top: 1px;
}

#message i {
	padding: 5px 35px;
	font-size: 12px;
	margin-top: -5px;
	margin: 0;
	LINE-HEIGHT: 0px
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -35px;
	content: "*";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -35px;
	content: "*";
}
</style>








