<div class="content-wrapper scrollpage" ng-init="">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="header-icon">
			<i class="fa fa-hospital-o"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Psychology Template</h1>
			<small>Here you can add new school details.</small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Psychology Template</li>
			</ol>
		</div>
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="row">
			<!-- Form controls -->
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="">
							<a class="btn btn-primary"> <i class="fa fa-list"></i>
								Psychology Template
							</a>
						</div>
					</div>
					<div class="panel-body">

						<form class="col-sm-12" >
							<div class="col-lg-6 form-group">
								<label>Name of the client:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Name of the student involved in the BMP:</label> <input type="text" value=""
									class="form-control"
									 required>
							</div>
							<div class="col-lg-6 form-group">
								<label>RegNo/Date:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Name of the persons involved in BMP:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Sex/Age of Client:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>MA/SA/DA/IQSQ/DQ:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Name of the consultant:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Date on which case taken up for BMP:</label><input type="text" value=""
									class="form-control">
							</div>
							<div class="col-lg-6 form-group">
								<label>Name of the information and their relation with the client:</label><input type="text" value=""
									class="form-control">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

