<div class="stepwizard"
	ng-init="getCountrysBasedOnIsdCode();getAllInsurancesByCompany();getAllSchoolsByCompanyUsername();getRegionalCenterZones();getRegionalCentersByRegionalZone(regionalZone.regionalCenterZoneName.id);">
	<div class="stepwizard-row setup-panel">
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdatepatientDetails();" type="button"
				class="btn btn-default btn-circle">1</a>
			<p>
				<small>Patient Details</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateCommuncationAddress();" type="button"
				class="btn btn-default btn-circle">2</a>
			<p>
				<small>Communication Address</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateUploadDocuments();" type="button"
				class="btn btn-default btn-circle">3</a>
			<p>
				<small>Upload Documents</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateClientType();" type="button"
				ng-style="activeColor1" class="btn btn-default btn-circle">4</a>
			<p>
				<small>Client Type</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdatePayments();" type="button"
				class="btn btn-default btn-circle">5</a>
			<p>
				<small>Payment</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateSummary();" type="button"
				class="btn btn-default btn-circle">6</a>
			<p>
				<small>Summary</small>
			</p>
		</div>
	</div>
</div>
<div class="" id="step-4">
	<hr>
	<form name="patientObjectForm">
		<div
			ng-if="patientObject.clientType.clientTypeName=='Regional Center'"
			class="col-sm-12 ">
			<br>
			<center>
				<label><u>Regional Info</u></label>
			</center>
			<hr>
			<div class="col-lg-6 form-group">
				<label>Select RCEB Zone</label><select class="form-control"
					ng-model="regionalZone.regionalCenterZoneName" name="name"
					ng-options="regionalZone as regionalZone.regionalCenterZoneName for regionalZone in regionalZoneList track by regionalZone.id"
					ng-change="getRegionalCentersByRegionalZone(regionalZone.regionalCenterZoneName.id);">
					<option value="" class="active">Select Regional Name</option>
					<option value="">{{regionalZone.regionalCenterZoneName}}</option>

				</select>

			</div>
			<div class="col-lg-6 form-group">
				<label>Select RCEB</label>
				<select class="form-control" ng-model="patientObject.regionalCenter"
					name="name"
					ng-options="regional as regional.name for regional in regionalList track by regional.id"
					ng-change="getObjectUpdate(patientObject.regionalCenter);">
					<option value="" class="active">Select Regional Name</option>
					<option value="">{{regional.name}}</option>

				</select>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.regionalCenter.regionalCenterZoneLookup.regionalCenterZoneName== undefined || patientObject.regionalCenter.regionalCenterZoneLookup.regionalCenterZoneName =='' "
					style="color: red">*</span>Regional Center Zone</label> <span
					style="color: red"
					ng-show="(patientForm.name.$touched && patientForm.name.$invalid)">
					<span ng-show="patientForm.name.$error.required"> is
						required.</span>
				</span><input class="form-control"
					ng-model="patientObject.regionalCenter.regionalCenterZoneLookup.regionalCenterZoneName"
					name="name" readonly="readonly">
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.regionalCenter.name== undefined || patientObject.regionalCenter.name =='' "
					style="color: red">*</span>Regional Center Name</label> <span
					style="color: red"
					ng-show="(patientForm.name.$touched && patientForm.name.$invalid)">
					<span ng-show="patientForm.name.$error.required"> is
						required.</span>
				</span><input class="form-control"
					ng-model="patientObject.regionalCenter.name" name="name" readonly="readonly">
			</div>
			<div class="form-group col-sm-6">
				<label><span
					ng-if="patientObject.regionalCenter.email == undefined || patientObject.regionalCenter.email =='' "
					style="color: red">*</span>E-Mail</label><span style="color: red"
					ng-show="(patientObjectForm.servicecoEmail.$touched && patientObjectForm.servicecoEmail.$invalid)">
					<span ng-show="patientObjectForm.servicecoEmail.$error.required">
						is required.</span>
				</span> <span style="color: red"
					ng-show="patientObjectForm.servicecoEmail.$error.pattern">
					Please enter a valid email address!</span> <span
					ng-if="patientObjectForm.$pending.emailExists" style="color: red">checking....</span>
				<span ng-if="isEmailIdExists==true" style="color: red">
					exists already</span><input type="email" value=""
					placeholder="Enter Service Coordinator Email" id="txt_email"
					class="form-control" name="servicecoEmail"
					ng-model="patientObject.regionalCenter.email" aria-required="true"
					class="error" id="txt_user_email" aria-invalid="true"
					ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required
					readonly="readonly">
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.regionalCenter.mobileNumber == undefined || patientObject.regionalCenter.mobileNumber =='' "
					style="color: red">*</span>Phone Number</label><span style="color: red"
					ng-show="(patientObjectForm.servicecoMobileNumber.$touched && patientObjectForm.servicecoMobileNumber.$invalid)">
					<span
					ng-show="patientObjectForm.servicecoMobileNumber.$error.required">
						is required.</span>
				</span> <input type="text" phone-input name="servicecoMobileNumber"
					class="form-control"
					placeholder="Enter Service Coordinator Phone Number"
					mobile-available
					ng-model="patientObject.regionalCenter.mobileNumber" required
					readonly="readonly">

			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.address1 == undefined || patientObject.regionalCenter.reginoalCenterAddress.address1 =='' "
					style="color: red">*</span>Address 1</label><span style="color: red"
					ng-show="(patientObjectForm.servicecoAddress.$touched && patientObjectForm.servicecoAddress.$invalid)">
					<span ng-show="patientObjectForm.servicecoAddress.$error.required">
						is required.</span>
				</span> <input type="text" name="servicecoAddress" class="form-control"
					placeholder="Enter Service Coordinator Address 1"
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.address1"
					required readonly="readonly">
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.address2 == undefined || patientObject.regionalCenter.reginoalCenterAddress.address2 =='' "
					style="color: red">*</span>Address 2</label> <span style="color: red"
					ng-show="(patientObjectForm.servicecoAddress2.$touched && patientObjectForm.servicecoAddress2.$invalid)">
					<span ng-show="patientObjectForm.servicecoAddress2.$error.required">
						2 is required.</span>
				</span><input type="text" name="servicecoAddress2" class="form-control"
					placeholder="Enter Service Coordinator Address 1"
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.address2"
					required readonly="readonly">
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.city == undefined || patientObject.regionalCenter.reginoalCenterAddress.city =='' "
					style="color: red">*</span>City</label><span style="color: red"
					ng-show="(patientObjectForm.rccityName.$touched && patientObjectForm.rccityName.$invalid)">
					<span ng-show="patientObjectForm.rccityName.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control" name="rccityName"
					id="txt_username"
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.city"
					aria-required="true" aria-invalid="true" required
					readonly="readonly">

			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.state == undefined || patientObject.regionalCenter.reginoalCenterAddress.state =='' "
					style="color: red">*</span>State</label><span style="color: red"
					ng-show="(patientObjectForm.rcstate.$touched && patientObjectForm.rcstate.$invalid)">
					<span ng-show="patientObjectForm.rcstate.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control" name="rcstate"
					id="txt_username"
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.state"
					aria-required="true" aria-invalid="true" required
					readonly="readonly">
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.country == undefined || patientObject.regionalCenter.reginoalCenterAddress.country =='' "
					style="color: red">*</span>Country</label> <span style="color: red"
					ng-show="(patientObjectForm.rccountry.$touched && patientObjectForm.rccountry.$invalid)">
					<span ng-show="patientObjectForm.rccountry.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control" name="rccountry"
					id="txt_username"
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.country"
					aria-required="true" aria-invalid="true" required
					readonly="readonly">
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.regionalCenter.reginoalCenterAddress.zipcode == undefined || patientObject.regionalCenter.reginoalCenterAddress.zipcode == '' "
					style="color: red">*</span>Zip/Postal Code</label><span style="color: red"
					ng-show="(patientObjectForm.rczipcode.$touched && patientObjectForm.rczipcode.$invalid)">
					<span ng-show="patientObjectForm.rczipcode.$error.required">
						is required.</span>
				</span> <input type="text" allow-only-numbers
					ng-model="patientObject.regionalCenter.reginoalCenterAddress.zipcode"
					class="form-control" name="rczipcode" maxlength="5"
					placeholder="Enter zipcode" required readonly="readonly">
			</div>
			<div class="col-sm-12" align="center">
				<label><u>Regional Center - Service Coordinator Details</u></label>
				<hr>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.serviceCoordinatorName == undefined || patientObject.serviceCoordinatorName =='' "
					style="color: red">*</span>Service Coordinator Name</label> <span
					style="color: red"
					ng-show="(patientObjectForm.serviceco.$touched && patientObjectForm.serviceco.$invalid)">
					<span ng-show="patientObjectForm.serviceco.$error.required">
						is required.</span>
				</span> <input type="text" name="serviceco" class="form-control"
					placeholder="Enter Service Coordinator Name"
					ng-model="patientObject.serviceCoordinatorName" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.phoneNumber == undefined || patientObject.phoneNumber =='' "
					style="color: red">*</span>Phone Number</label> <span style="color: red"
					ng-show="(patientObjectForm.phoneNumber.$touched && patientObjectForm.phoneNumber.$invalid)">
					<span ng-show="patientObjectForm.phoneNumber.$error.required">
						is required.</span>
				</span> <input type="text" name="phoneNumber" class="form-control"
					placeholder="Enter Phone Number"
					ng-model="patientObject.phoneNumber" required>
			</div>
			<div class="form-group col-sm-6">
				<label><span
					ng-if="patientObject.emailPatient == undefined || patientObject.emailPatient =='' "
					style="color: red">*</span>Email Id</label> <span style="color: red"
					ng-show="(patientObjectForm.email.$touched && patientObjectForm.email.$invalid)">
					<span ng-show="patientObjectForm.email.$error.required"> is
						required.</span>
				</span> <span style="color: red" ng-show="patientObjectForm.email.$error.pattern">
					Please enter a valid email address!</span> <span
					ng-if="patientObjectForm.$pending.emailExists" style="color: red">checking....</span>
				<span ng-if="patientObjectForm.$error.emailExists" style="color: red">Email
					exists already</span> <input type="email" value=""
					placeholder="Enter Email" id="txt_email" class="form-control"
					name="email" ng-model="patientObject.emailPatient" ng-value="patientObject.emailPatient"
					aria-required="true" class="error" id="txt_user_email"
					aria-invalid="true"
					ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required>
			</div>
		</div>

		<div ng-if="patientObject.clientType.clientTypeName=='Private'"
			class="col-sm-12 ">
			<br>
			<center>
				<label><u>Private Info</u></label>
			</center>
			<hr>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.privateClient.concernName == undefined || patientObject.privateClient.concernName =='' "
					style="color: red">*</span>Concern Name</label> <span style="color: red"
					ng-show="(patientForm.concernName.$touched && patientForm.concernName.$invalid)">
					<span ng-show="patientForm.concernName.$error.required"> is
						required.</span>
				</span> <input type="text" name="concernName" class="form-control"
					placeholder="Enter Concern Name"
					ng-model="patientObject.privateClient.concernName" required>
			</div>

			<div class="form-group col-sm-6">
				<label><span
					ng-if="patientObject.privateClient.email == undefined || patientObject.privateClient.email =='' "
					style="color: red">*</span>E-Mail</label> <span style="color: red"
					ng-show="(patientForm.servicecoEmail.$touched && patientForm.servicecoEmail.$invalid)">
					<span ng-show="patientForm.servicecoEmail.$error.required">
						is required.</span>
				</span><span style="color: red"
					ng-show="patientForm.servicecoEmail.$error.pattern"> Please
					enter a valid email address!</span> <span
					ng-if="patientForm.$pending.emailExists" style="color: red">checking....</span>
				<span ng-if="patientForm.$error.emailExists" style="color: red">Email
					exists already</span> <input type="email" value=""
					placeholder="Enter Email" id="txt_email" class="form-control"
					name="servicecoEmail" ng-model="patientObject.privateClient.email"
					aria-required="true" class="error" id="txt_user_email"
					aria-invalid="true"
					ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.privateClient.mobileNumber == undefined || patientObject.privateClient.mobileNumber =='' "
					style="color: red">*</span>Phone Number</label> <span style="color: red"
					ng-show="(patientForm.MobileNumber.$touched && patientForm.MobileNumber.$invalid)">
					<span ng-show="patientForm.MobileNumber.$error.required"> is
						required.</span>
				</span> <span
					ng-show="((patientForm.servicecoMobileNumber.$error.minlength ||
                           patientForm.servicecoMobileNumber.$error.maxlength) && 
                           patientForm.servicecoMobileNumber.$dirty) "
					style="color: red"> should be 10 digits </span> <span
					ng-if="patientForm.$pending.mobileNumberExists">checking....</span>
				<span ng-if="patientForm.$error.mobileNumberExists"
					style="color: red"> exists already</span> <input type="text"
					phone-input name="MobileNumber" class="form-control"
					placeholder="Enter Phone Number"
					ng-model="patientObject.privateClient.mobileNumber" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.privateClient.address.address1 == undefined || patientObject.privateClient.address.address1 =='' "
					style="color: red">*</span>Address 1</label> <span style="color: red"
					ng-show="(patientForm.servicecoAddress.$touched && patientForm.servicecoAddress.$invalid)">
					<span ng-show="patientForm.servicecoAddress.$error.required">is
						required.</span>
				</span><input type="text" name="servicecoAddress" class="form-control"
					placeholder="Enter Address 1"
					ng-model="patientObject.privateClient.address.address1" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.privateClient.address.address2 == undefined || patientObject.privateClient.address.address2 =='' "
					style="color: red">*</span>Address 2</label> <span style="color: red"
					ng-show="(patientForm.servicecoAddress2.$touched && patientForm.servicecoAddress2.$invalid)">
					<span ng-show="patientForm.servicecoAddress2.$error.required">
						is required.</span>
				</span><input type="text" name="servicecoAddress2" class="form-control"
					placeholder="Enter  Address 2"
					ng-model="patientObject.privateClient.address.address2" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.privateClient.address.country == undefined || patientObject.privateClient.address.country =='' "
					style="color: red">*</span>Country</label> <span style="color: red"
					ng-show="(patientForm.rccountry.$touched && patientForm.rccountry.$invalid)">
					<span ng-show="patientForm.rccountry.$error.required"> is
						required.</span>
				</span> <select ng-model="patientObject.privateClient.address.country"
					class="form-control" name="rccountry" aria-required="true"
					aria-invalid="true"
					ng-options="country as country.name  for country in countriesList track by country.id"
					ng-change="getAllStatesByCountryId(patientObject.privateClient.address.country.id);"
					required>
					<option value="" class="active">Select Country</option>
				</select>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.privateClient.address.state == undefined || patientObject.privateClient.address.state =='' "
					style="color: red">*</span>State</label> <span style="color: red"
					ng-show="(patientForm.rcstate.$touched && patientForm.rcstate.$invalid)">
					<span ng-show="patientForm.rcstate.$error.required"> is
						required.</span>
				</span> <select ng-model="patientObject.privateClient.address.state"
					class="form-control" name="rcstate" aria-required="true"
					aria-invalid="true"
					ng-options="state as state.name for state in statesList track by state.id"
					ng-change="getAllCitiesByStateId(patientObject.privateClient.address.state.id);"
					required>
					<option value="" class="active">Select State</option>
				</select>
			</div>


			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.privateClient.address.city.name == undefined || patientObject.privateClient.address.cityName =='' "
					style="color: red">*</span>City</label> <span style="color: red"
					ng-show="(patientForm.rccityName.$touched && patientForm.rccityName.$invalid)">
					<span ng-show="patientForm.rccityName.$error.required"> is
						required.</span>
				</span><input type="text" value="" class="form-control" name="rccityName"
					id="txt_username"
					ng-model="patientObject.privateClient.address.city.name"
					aria-required="true" aria-invalid="true" required>

			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.privateClient.address.zipcode == undefined || patientObject.privateClient.address.zipcode == '' "
					style="color: red">*</span>Zip/Postal Code</label> <span style="color: red"
					ng-show="(patientForm.rczipcode.$touched && patientForm.rczipcode.$invalid)">
					<span ng-show="patientForm.rczipcode.$error.required"> is
						required.</span>
				</span><input type="text" allow-only-numbers
					ng-model="patientObject.privateClient.address.zipcode"
					class="form-control" name="rczipcode" maxlength="5"
					placeholder="Enter zipcode" required>
			</div>

		</div>
		<div ng-if="patientObject.clientType.clientTypeName=='School'"
			class="col-sm-12 ">
			<br>
			<center>
				<label><u>School Info</u></label>
			</center>
			<hr>
			<div class="col-lg-6 form-group"
				ng-if="patientObject.school.schoolName == undefined">
				<label><span
					ng-if="school.schoolName == undefined || school.schoolName =='' "
					style="color: red">*</span>School Name</label> <span style="color: red"
					ng-show="(patientObjectForm.schoolName.$touched && patientObjectForm.schoolName.$invalid)">
					<span ng-show="patientObjectForm.schoolName.$error.required">
						is required.</span>
				</span> <select class="form-control" ng-model="school.schoolName"
					name="name"
					ng-options="school as school.schoolName for school in schoolList"
					ng-change="getSchoolObject(school.schoolName);">
					<option value="" class="active">Select School Name</option>
					<option value="">{{school.schoolName}}</option>

				</select>
			</div>

			<div class="col-lg-6 form-group"
				ng-if="patientObject.school.schoolName != undefined">
				<label><span
					ng-if="patientObject.school.schoolName == undefined || patientObject.school.schoolName =='' "
					style="color: red">*</span>School Name</label> <span style="color: red"
					ng-show="(patientObjectForm.schoolName.$touched && patientObjectForm.schoolName.$invalid)">
					<span ng-show="patientObjectForm.schoolName.$error.required">
						is required.</span>
				</span> <select class="form-control" ng-model="patientObject.school"
					name="name"
					ng-options="school as school.schoolName for school in schoolList track by school.id"
					ng-change="getSchoolObject1(patientObject.school);">
					<option value="" class="active">Select School Name</option>
					<option value="">{{school.schoolName}}</option>

				</select>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.school.identityId == undefined || patientObject.school.identityId =='' "
					style="color: red">*</span>School Identity</label> <span style="color: red"
					ng-show="(patientObjectForm.identityId.$touched && patientObjectForm.identityId.$invalid)">
					<span ng-show="patientObjectForm.identityId.$error.required">is
						required.</span>
				</span><input type="text" name="identityId" class="form-control"
					placeholder="Enter identity Id"
					ng-model="patientObject.school.identityId" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.school.address.address1 == undefined || patientObject.school.address.address1 =='' "
					style="color: red">*</span>Address 1</label> <span style="color: red"
					ng-show="(patientObjectForm.servicecoAddress.$touched && patientObjectForm.servicecoAddress.$invalid)">
					<span ng-show="patientObjectForm.servicecoAddress.$error.required">is
						required.</span>
				</span><input type="text" name="servicecoAddress" class="form-control"
					placeholder="Enter Address 1"
					ng-model="patientObject.school.address.address1" required>
			</div>

			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.school.address.address2 == undefined || patientObject.school.address.address2 =='' "
					style="color: red">*</span>Address 2</label> <span style="color: red"
					ng-show="(patientObjectForm.servicecoAddress2.$touched && patientObjectForm.servicecoAddress2.$invalid)">
					<span ng-show="patientObjectForm.servicecoAddress2.$error.required">
						is required.</span>
				</span><input type="text" name="servicecoAddress2" class="form-control"
					placeholder="Enter  Address 2"
					ng-model="patientObject.school.address.address2" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.school.address.city == undefined || patientObject.school.address.city =='' "
					style="color: red">*</span>City</label> <span style="color: red"
					ng-show="(patientObjectForm.rccityName.$touched && patientObjectForm.rccityName.$invalid)">
					<span ng-show="patientObjectForm.rccityName.$error.required">
						is required.</span>
				</span><input type="text" value="" class="form-control" name="rccityName"
					id="txt_username" ng-model="patientObject.school.address.city"
					aria-required="true" aria-invalid="true" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.school.address.state == undefined || patientObject.school.address.state =='' "
					style="color: red">*</span>State</label> <span style="color: red"
					ng-show="(patientObjectForm.rcstate.$touched && patientObjectForm.rcstate.$invalid)">
					<span ng-show="patientObjectForm.rcstate.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control" name="rcstate"
					id="txt_username" ng-model="patientObject.school.address.state"
					aria-required="true" aria-invalid="true" required>
			</div>

			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.school.address.country == undefined || patientObject.school.address.country =='' "
					style="color: red">*</span>Country</label> <span style="color: red"
					ng-show="(patientObjectForm.rccountry.$touched && patientObjectForm.rccountry.$invalid)">
					<span ng-show="patientObjectForm.rccountry.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control" name="rccountry"
					id="txt_username" ng-model="patientObject.school.address.country"
					aria-required="true" aria-invalid="true" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.school.address.zipcode == undefined || patientObject.school.address.zipcode == '' "
					style="color: red">*</span>Zip/Postal Code</label> <span style="color: red"
					ng-show="(patientObjectForm.rczipcode.$touched && patientObjectForm.rczipcode.$invalid)">
					<span ng-show="patientObjectForm.rczipcode.$error.required">
						is required.</span>
				</span><input type="text" allow-only-numbers
					ng-model="patientObject.school.address.zipcode"
					class="form-control" name="rczipcode" maxlength="5"
					placeholder="Enter zipcode" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.school.fax == undefined || patientObject.school.fax == ''"
					style="color: red">*</span>Fax number</label> <span style="color: red"
					ng-show="(patientObjectForm.fax.$touched && patientObjectForm.fax.$invalid)">
					<span ng-show="patientObjectForm.fax.$error.required"> is
						required.</span>
				</span><input type="text" allow-only-numbers
					ng-model="patientObject.school.fax" class="form-control" name="fax"
					placeholder="Enter Fax" required>
			</div>
			<center class="col-sm-12">
				<label><u>School Patient</u></label>
			</center>
			<hr>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.contactName == undefined || patientObject.contactName == '' "
					style="color: red">*</span>Contact Name</label> <span style="color: red"
					ng-show="(patientObjectForm.contactName.$touched && patientObjectForm.contactName.$invalid)">
					<span ng-show="patientObjectForm.contactName.$error.required">
						is required.</span>
				</span><input type="text" ng-model="patientObject.contactName"
					class="form-control" name="contactName"
					placeholder="Enter Contact Name" required>
			</div>
			<div class="form-group col-sm-6">
				<label><span
					ng-if="patientObject.emailPatient == undefined || patientObject.emailPatient =='' "
					style="color: red">*</span>E-Mail</label> <span style="color: red"
					ng-show="(patientObjectForm.servicecoEmail.$touched && patientObjectForm.servicecoEmail.$invalid)">
					<span ng-show="patientObjectForm.servicecoEmail.$error.required">
						is required.</span>
				</span><span style="color: red"
					ng-show="patientObjectForm.servicecoEmail.$error.pattern">
					Please enter a valid email address!</span> <span
					ng-if="patientObjectForm.$pending.emailExists" style="color: red">checking....</span>
				<span ng-if="patientObjectForm.$error.emailExists"
					style="color: red">Email exists already</span> <input type="email"
					value="" placeholder="Enter Email" id="txt_email"
					class="form-control" name="servicecoEmail"
					ng-model="patientObject.emailPatient" aria-required="true"
					class="error" id="txt_user_email" aria-invalid="true"
					ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required>
			</div>

			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.phoneNumber == undefined || patientObject.phoneNumber =='' "
					style="color: red">*</span>Phone Number</label> <span style="color: red"
					ng-show="(patientObjectForm.phoneNumber.$touched && patientObjectForm.phoneNumber.$invalid)">
					<span ng-show="patientObjectForm.phoneNumber.$error.required">
						is required.</span>
				</span> <span
					ng-show="((patientObjectForm.phoneNumber.$error.minlength ||
                           patientObjectForm.phoneNumber.$error.maxlength) && 
                           patientObjectForm.phoneNumber.$dirty) "
					style="color: red"> should be 10 digits </span> <span
					ng-if="patientObjectForm.$pending.mobileNumberExists">checking....</span>
				<span ng-if="patientObjectForm.$error.mobileNumberExists"
					style="color: red"> exists already</span> <input type="text"
					maxlength="14" minlength="14" phone-input name="phoneNumber"
					class="form-control" placeholder="Enter Phone Number"
					ng-model="changeMobileNumber(patientObject.phoneNumber)" required>
			</div>

		</div>

		<div ng-if="patientObject.clientType.clientTypeName=='Insurance'"
			class="col-sm-12 ">
			<br>
			<center>
				<label><u>Insurance Info</u></label>
			</center>
			<hr>
			<div class="col-lg-6 form-group"
				ng-if="patientObject.insurance.insuranceCompanyName == undefined">
				<label><span
					ng-if="patientObject.insurance == undefined || patientObject.insurance =='' "
					style="color: red">*</span>Insurance CompanyName</label> <span
					style="color: red"
					ng-show="(patientObjectForm.insuranceCompanyName.$touched && patientObjectForm.insuranceCompanyName.$invalid)">
					<span
					ng-show="patientObjectForm.insuranceCompanyName.$error.required">
						is required.</span>
				</span><select class="form-control"
					ng-model="insurance.insuranceCompanyName" name="name"
					ng-options="insurance as insurance.insuranceCompanyName for insurance in insuranceDataList"
					ng-change="getInsurenceObj(insurance.insuranceCompanyName);">
					<option value="" class="active">Select Insurance Company
						Name</option>
					<option value="">{{insurance.insuranceCompanyName}}</option>

				</select>
			</div>

			<div class="col-lg-6 form-group"
				ng-if="patientObject.insurance.insuranceCompanyName != undefined">
				<label><span
					ng-if="patientObject.insurance == undefined || patientObject.insurance =='' "
					style="color: red">*</span>Insurance CompanyName</label> <span
					style="color: red"
					ng-show="(patientObjectForm.insuranceCompanyName.$touched && patientObjectForm.insuranceCompanyName.$invalid)">
					<span
					ng-show="patientObjectForm.insuranceCompanyName.$error.required">
						is required.</span>
				</span><select class="form-control" ng-model="patientObject.insurance"
					name="name"
					ng-options="insurance as insurance.insuranceCompanyName for insurance in insuranceDataList track by insurance.id"
					ng-change="getInsurenceObj1(patientObject.insurance);">
					<option value="" class="active">Select Insurance Company
						Name</option>
					<option value="">{{insurance.insuranceCompanyName}}</option>

				</select>
			</div>

			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.insurance.idNumber == undefined || patientObject.insurance.idNumber =='' "
					style="color: red">*</span>Insurance Number</label> <span
					style="color: red"
					ng-show="(patientObjectForm.insuranceNumber.$touched && patientObjectForm.insuranceNumber.$invalid)">
					<span ng-show="patientObjectForm.insuranceNumber.$error.required">
						is required.</span>
				</span><input type="text" name="insuranceNumber" class="form-control"
					placeholder="Enter Insurance Number"
					ng-model="patientObject.insurance.idNumber" required>
			</div>
			<!-- <div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.insurance.insuranceCompanyName == undefined || patientObject.insurance.insuranceCompanyName =='' "
					style="color: red">*</span>Insurance Company Name</label> <span
					style="color: red"
					ng-show="(patientObjectForm.insuranceCompanyName.$touched && patientObjectForm.insuranceCompanyName.$invalid)">
					<span ng-show="patientObjectForm.insuranceCompanyName.$error.required">
						is required.</span>
				</span><input type="text" name="insuranceCompanyName" class="form-control"
					placeholder="Enter Insurance Number"
					ng-model="patientObject.insurance.insuranceCompanyName" required>
			</div> -->
			<div class="form-group col-sm-6">
				<label><span
					ng-if="patientObject.insurance.emailId == undefined || patientObject.insurance.emailId =='' "
					style="color: red">*</span>E-Mail</label> <span style="color: red"
					ng-show="(patientObjectForm.insuranceEmail.$touched && patientObjectForm.insuranceEmail.$invalid)">
					<span ng-show="patientObjectForm.insuranceEmail.$error.required">
						is required.</span>
				</span><span style="color: red"
					ng-show="patientObjectForm.insuranceEmail.$error.pattern">
					Please enter a valid email address!</span> <span
					ng-if="patientObjectForm.$pending.emailExists" style="color: red">checking....</span>
				<span ng-if="patientObjectForm.$error.emailExists"
					style="color: red">Email exists already</span> <input type="email"
					value="" placeholder="Enter insurance Email" id="txt_email"
					class="form-control" name="insuranceEmail"
					ng-model="patientObject.insurance.emailId" aria-required="true"
					class="error" id="txt_user_email" aria-invalid="true"
					ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
					ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.insurance.mobileNumber == undefined || patientObject.insurance.mobileNumber =='' "
					style="color: red">*</span>Phone Number</label> <span style="color: red"
					ng-show="(patientObjectForm.insuranceMobileNumber.$touched && patientObjectForm.insuranceMobileNumber.$invalid)">
					<span
					ng-show="patientObjectForm.insuranceMobileNumber.$error.required">
						is required.</span>
				</span> <span
					ng-show="((patientObjectForm.insuranceMobileNumber.$error.minlength ||
                           patientObjectForm.insuranceMobileNumber.$error.maxlength) && 
                           patientObjectForm.insuranceMobileNumber.$dirty) "
					style="color: red"> should be 10 digits </span> <span
					ng-if="patientObjectForm.$pending.mobileNumberExists">checking....</span>
				<span ng-if="patientObjectForm.$error.mobileNumberExists"
					style="color: red"> exists already</span> <input type="text"
					phone-input name="insuranceMobileNumber" class="form-control"
					placeholder="Enter Insurance Phone Number" maxlength="14"
					minlength="14" ng-model="patientObject.insurance.mobileNumber"
					required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.insurance.address1.address1 == undefined || patientObject.insurance.address1.address1 =='' "
					style="color: red">*</span>Address 1</label> <span style="color: red"
					ng-show="(patientObjectForm.insuranceAddress.$touched && patientObjectForm.insuranceAddress.$invalid)">
					<span ng-show="patientObjectForm.insuranceAddress.$error.required">
						is required.</span>
				</span> <input type="text" name="insuranceAddress" class="form-control"
					placeholder="Enter Service Coordinator Address 1"
					ng-model="patientObject.insurance.address1.address1" required>
			</div>

			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.insurance.address1.address2 == undefined || patientObject.insurance.address1.address2 =='' "
					style="color: red">*</span>Address 2</label> <span style="color: red"
					ng-show="(patientObjectForm.insuranceAddress2.$touched && patientObjectForm.insuranceAddress2.$invalid)">
					<span ng-show="patientObjectForm.insuranceAddress2.$error.required">
						is required.</span>
				</span><input type="text" name="insuranceAddress2" class="form-control"
					placeholder="Enter Service Coordinator Address 2"
					ng-model="patientObject.insurance.address1.address2" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.insurance.address1.city == undefined || patientObject.insurance.address1.city =='' "
					style="color: red">*</span>City</label><span style="color: red"
					ng-show="(patientObjectForm.insurancecityName.$touched && patientObjectForm.insurancecityName.$invalid)">
					<span ng-show="patientObjectForm.insurancecityName.$error.required">
						is required.</span>
				</span><input type="text" value="" class="form-control"
					name="insurancecityName" id="txt_username"
					ng-model="patientObject.insurance.address1.city"
					aria-required="true" aria-invalid="true" required>

			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.insurance.address1.state == undefined || patientObject.insurance.address1.state =='' "
					style="color: red">*</span>State</label> <span style="color: red"
					ng-show="(patientObjectForm.insurancestate.$touched && patientObjectForm.insurancestate.$invalid)">
					<span ng-show="patientObjectForm.insurancestate.$error.required">
						is required.</span>
				</span> <input type="text" value="" class="form-control"
					name="insurancestate" id="txt_username"
					ng-model="patientObject.insurance.address1.state"
					aria-required="true" aria-invalid="true" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.insurance.address1.country == undefined || patientObject.insurance.address1.country =='' "
					style="color: red">*</span>Country</label><span style="color: red"
					ng-show="(patientObjectForm.insurancecountry.$touched && patientObjectForm.insurancecountry.$invalid)">
					<span ng-show="patientObjectForm.insurancecountry.$error.required">
						is required.</span>
				</span><input type="text" name="insurancecountry" class="form-control"
					placeholder="Enter Country"
					ng-model=patientObject.insurance.address1.country required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.insurance.address1.zipcode == undefined || patientObject.insurance.address1.zipcode == '' "
					style="color: red">*</span>Zip/Postal Code</label> <span style="color: red"
					ng-show="(patientObjectForm.insurancezipcode.$touched && patientObjectForm.insurancezipcode.$invalid)">
					<span ng-show="patientObjectForm.insurancezipcode.$error.required">
						is required.</span>
				</span> <input type="text" allow-only-numbers
					ng-model="patientObject.insurance.address1.zipcode"
					class="form-control" name="insurancezipcode" maxlength="5"
					placeholder="Enter zipcode" required>
			</div>
			<div class="form-group col-lg-6">
				<label><span
					ng-if="patientObject.insurance.fax == undefined || patientObject.insurance.fax == '' "
					style="color: red">*</span>Fax Number</label> <span style="color: red"
					ng-show="(patientObjectForm.fax.$touched && patientObjectForm.fax.$invalid)">
					<span ng-show="patientObjectForm.fax.$error.required"> is
						required.</span>
				</span> <input type="text" allow-only-numbers
					ng-model="patientObject.insurance.fax" class="form-control"
					name="fax" maxlength="5" placeholder="Enter fax" required>
			</div>

			<div class="col-sm-12" align="center">
				<label><u> Patient Insurance</u></label>
				<hr>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.patientInsuraceNo == undefined || patientObject.patientInsuraceNo =='' "
					style="color: red">*</span>Patient Insurance Number</label> <span
					style="color: red"
					ng-show="(patientObjectForm.patientObjectInsuraceNo.$touched && patientObjectForm.patientObjectInsuraceNo.$invalid)">
					<span
					ng-show="patientObjectForm.patientObjectInsuraceNo.$error.required">
						is required.</span>
				</span> <input type="text" name="patientObjectInsuraceNo"
					class="form-control" placeholder="Enter patient Insurace No"
					ng-model="patientObject.patientInsuraceNo" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.groupNumber == undefined || patientObject.groupNumber =='' "
					style="color: red">*</span>Group Number</label> <span style="color: red"
					ng-show="(patientObjectForm.groupNumber.$touched && patientObjectForm.groupNumber.$invalid)">
					<span ng-show="patientObjectForm.groupNumber.$error.required">
						is required.</span>
				</span> <input type="text" name="groupNumber" class="form-control"
					placeholder="Enter Group Number"
					ng-model="patientObject.groupNumber" required>
			</div>
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.planCode == undefined || patientObject.planCode =='' "
					style="color: red">*</span>Plan Code</label> <span style="color: red"
					ng-show="(patientObjectForm.planCode.$touched && patientObjectForm.planCode.$invalid)">
					<span ng-show="patientObjectForm.planCode.$error.required">
						is required.</span>
				</span> <input type="text" name="planCode" class="form-control"
					placeholder="Enter Plan Code" ng-model="patientObject.planCode"
					required>
			</div>

		</div>
		<!-- <div
			ng-if="patientObjectObject.clientType.clientTypeName !='Regional Center' && patientObject.clientType.clientTypeName !='Insurance'"
			class="col-sm-12 ">
			<table class="col-sm-12">
				<tr>
					<td height="200"><h3 align="center">
							<i class="fa fa-meh-o"></i> No Data Available Your Are Not At <b>Selected
								Regional Center or Insurance</b>!
						</h3></td>
				</tr>
			</table>
		</div> -->
		<button class="btn btn-primary nextBtn pull-left" type="button"
			ng-click="gotoupdateUploadDocuments();">Previous</button>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-click="gotoupdatePayments();">Next</button>
		</button>
	</form>
</div>