<div class="stepwizard" > <!-- ng-init="getCategoryByRegistartiontype(patientObject);"  -->
	<div class="stepwizard-row setup-panel">
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateRegistrationDetails();" type="button"
				ng-style="activeColor1" class="btn btn-default btn-circle">1</a>
			<p>
				<small>Registration Details</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateChildDetails();" type="button"
				class="btn btn-default btn-circle">2</a>
			<p>
				<small>Child Details</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateParentDetails();" type="button"
				class="btn btn-default btn-circle">3</a>
			<p>
				<small>Parent Details</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateUploadDocuments();" type="button"
				class="btn btn-default btn-circle">3</a>
			<p>
				<small>Upload Documents</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdatePayments();" type="button"
				class="btn btn-default btn-circle">4</a>
			<p>
				<small>Payment</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-2">
			<a ng-click="gotoupdateSummary();" type="button"
				class="btn btn-default btn-circle">5</a>
			<p>
				<small>Summary</small>
			</p>
		</div>
	</div>
</div>
<div class="" id="step-1"
	ng-init="getAllPatientRegistrationTypesList();">
	<hr>
	<form name="patientObjectForm">
	<div class="col-sm-12">
	<br>
			<div class="col-lg-6 form-group">
			<label><span ng-if="patientObject.regNumber == undefined || patientObject.regNumber == '' " style="color: red">*</span>Reg No</label>
			<span style="color: red"
					ng-show="(patientObjectForm.regNumber.$touched && patientObjectForm.regNumber.$invalid)">
					<span ng-show="patientObjectForm.regNumber.$error.required"> is
						required.</span>
						</span>
			<input type="text" name="regNumber" class="form-control"
					ng-model="patientObject.regNumber" required>
			
			</div>
			
			<div class="col-sm-6 form-group">
				<span
					ng-if="patientObject.regDate == undefined || patientObject.regDate == '' "
					style="color: red">*</span><label>Date</label> <span
					style="color: red"
					ng-show="(patientObjectForm.regDate.$touched && patientObjectForm.regDate.$invalid)">
					<span style="color: red"
					ng-show="patientObjectForm.regDate.$error.required"> is
						required.</span>
				</span> 
				<input type="text" date="dd-MM-yyyy" class="form-control" name="regDate" id="regDate" 
					ng-model="patientObject.regDate" readonly="readonly">
			</div>
			
			<div class="col-lg-6 form-group">
			<label><span ng-if="patientObject.patientRegistrationType == undefined || patientObject.patientRegistrationType == '' " style="color: red">*</span>Registration Type</label>
			<span style="color: red"
					ng-show="(patientObjectForm.patientRegistrationType.$touched && patientObjectForm.patientRegistrationType.$invalid)">
					<span ng-show="patientObjectForm.patientRegistrationType.$error.required"> is
						required.</span>
						</span>
				<select ng-model="patientObject.patientRegistrationType" class="form-control" ng-change="getAllCategoriesByRegistartiontype(patientObject.patientRegistrationType.id);"
					name="patientRegistrationType"
					ng-options="patientRegistrationType as patientRegistrationType.name  for patientRegistrationType in patientRegistrationTypes track by patientRegistrationType.id">
					<option value="">Select Registration Type</option>
				</select>
			</div>
			
			<!-- <div class="col-sm-6 form-group">
				<span
					ng-if="patientObject.department == undefined || patientObject.department == '' "
					style="color: red">*</span><label>Department</label> <span
					style="color: red"
					ng-show="(patientObjectForm.department.$touched && patientObjectForm.department.$invalid)">
					<span style="color: red"
					ng-show="patientObjectForm.department.$error.required"> is
						required.</span>
				</span>
				<select ng-model="patientObject.department" class="form-control"
					name="department" id="department" aria-required="true"
					aria-invalid="true" ng-options="department as department.departmentName  for department in departmentsList track by department.id"
					required>
					<option value="">Select Department</option>
				</select>
			</div> -->
			<!-- <div class="col-sm-6 form-group">
				<label>Sub Cat</label> <select ng-model="patientObject.categoryType" class="form-control" ng-change="getAllSubCategoriesByCategorytype(patientObject.categoryType.id);"
					name="categoryType" id="categoryType" ng-options="categoryType as categoryType.name  for categoryType in categoriesList track by categoryType.id">
					<option value="">Select Category</option>
				</select>
			</div>
			
			<div class="col-sm-6 form-group">
			<label>Sub Cat</label>
				 <select multiple="multiple" ng-model="patientObject.categoryType.subCategorys" class="form-control"
					name="subCategory" id="subCategory" ng-options="subCategory as subCategory.name  for subCategory in subcategoriesList  track by subCategory.id">
					<option value="">Select Sub Category</option>
				</select>
				  <multiselect  class="multiselect" id="subCategorys" ng-model="subCategorys" options="subCategory as subCategory.name for subCategory in  subcategoriesList" select-limit="10"
                                 header="Select Sub Category" selected-header="options selected" multiple="true"
                                 enable-filter="true" filter-placeholder="Filter stuff.." >
                    </multiselect>
                   
                    
			</div> -->
			 <div class="col-lg-6 form-group">
								<label><span
									ng-if="patient.department == undefined ||patient.department =='' "
									style="color: red">*</span>Department</label> <span style="color: red"
									ng-show="(patient.department.$touched && patient.department.$invalid)">
									<span ng-show="patient.department.$error.required">
										is required.</span>
								</span><select class="form-control" ng-model="patientObject.department"
									ng-click="deptMsg()" name="department"
									ng-options="department as department.departmentName for department in departmentsListByRegistrationType">
									<option value="" class="active">Select Department</option>
								</select>
							</div>
			
			
			
			<div class="col-lg-6 form-group">
				<label>Referred By</label> <input type="text" name="referredBy" class="form-control"
					placeholder="Enter Doctor Name" ng-model="patientObject.referredBy" required>
			</div>
			
			<div class="col-lg-6 form-group">
				<label><span
					ng-if="patientObject.reasonForReferral == undefined || patientObject.reasonForReferral =='' "
					style="color: red">*</span>Reason For Referral</label> <span style="color: red"
					ng-show="(patientObjectForm.reasonForReferral.$touched && patientObjectForm.reasonForReferral.$invalid)">
					<span ng-show="patientObjectForm.reasonForReferral.$error.required"> is
						required.</span>
				</span> <input type="text" name="reasonForReferral" class="form-control"
					placeholder="Enter Reason For Referral" ng-model="patientObject.reasonForReferral" required>
			</div>
			
	</div>
		
			
	</form>
	<div class="col-sm-12">
		<br>
	</div>
	<button class="btn btn-primary nextBtn pull-right" type="button"
		ng-click="gotoupdateChildDetails();">Next</button>
</div>

 <script type="text/javascript">
 $('#btnget').click(function() {

	 alert($('#chkveg').val());

	 })
</script>