<div class="content-wrapper">
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Insurance</h1>
			<small></small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Insurance</li>
			</ol>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="gotoInsuranceLookupList();">
							<a class="btn btn-primary"> <i class="fa fa-list"></i>
								Insurance List
							</a>
						</div>
					</div>
					<div class="panel-body">

						<form class="col-sm-12" name="insuranceLookupForm">
						<div class="col-sm-6 form-group">
								<label>Insurance Id</label><input type="text" value="" class="form-control" name="siteName"
									placeholder="Enter InsuranceId"
									ng-model="insurancelookup.idNumber">
							</div>
							<div class="col-sm-6 form-group">
								<label><span
									ng-if="insurancelookup.insuranceCompanyName == undefined || insurancelookup.insuranceCompanyName =='' "
									style="color: red">*</span>Insurance Company Name</label> <span
									style="color: red" ng-cloak
									ng-show="(insuranceLookupForm.siteName.$touched && insuranceLookupForm.siteName.$invalid)">
									<span ng-show="insuranceLookupForm.siteName.$error.required">is
										required.</span>
								</span><input type="text"  class="form-control" name="siteName"
									placeholder="Enter Insurance Company Name"
									ng-model="insurancelookup.insuranceCompanyName"
									required>
							</div>
							
							<div class="col-sm-6 form-group">
								<label>Email Id</label><span style="color: red"
									ng-show="insuranceLookupForm.email.$error.pattern"> Please enter a
										valid email address!</span>
								 <span ng-if="insuranceLookupForm.$pending.emailExists" style="color: red">checking....</span>
								<span ng-if="insuranceLookupForm.$error.emailExists" style="color: red">
									exists already</span> <input type="email" value=""
									class="form-control" name="email" placeholder="Enter Email Id"
									email-available  ng-model="insurancelookup.emailId"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ "
									aria-required="true" class="error" required>
							</div>
							
							
							<!-- <div class="col-sm-6 form-group">
								<label>Email Id</label> <span style="color: red"
									ng-show="insuranceLookupForm.email.$error.pattern"> Please enter a
										valid email address!</span>
								</span> <span ng-if="insuranceLookupForm.$pending.emailExists" style="color: red">checking....</span>
								<span ng-if="insuranceLookupForm.$error.emailExists" style="color: red">
									exists already</span> <input type="email" 
									class="form-control" name="email" placeholder="Enter Email Id"
									email-available ng-model="insurancelookup.emailId"
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ "
									aria-required="true" class="error" required>
							</div> -->
							<div class="col-sm-6 form-group">
								<label>Mobile Number</label> <span
									ng-show="((insuranceLookupForm.mobileNumber.$error.minlength ||
                           insuranceLookupForm.mobileNumber.$error.maxlength) && 
                           insuranceLookupForm.mobileNumber.$dirty) "
									style="color: red"> should be 10 digits </span> <span
									ng-if="insuranceLookupForm.$pending.mobileNumberExists">checking....</span>
								<span ng-if="insuranceLookupForm.$error.mobileNumberExists"
									style="color: red"> exists already</span> <input type="text"
									class="form-control" 
									name="mobileNumber" ng-model="insurancelookup.mobileNumber"
									placeholder="Enter Phone Number" 
									class="error" id="txt_patient_mobileNumber" allow-only-numbers maxlength="10" required>
							</div>
							<div class="col-sm-6 form-group">
								<label>Street Address 1</label> <input id="autocomplete"
									placeholder="Enter your address" class="form-control"
									onFocus="geolocate()" type="text"></input>
							</div>

							<div>
								<input class="field form-control" type="hidden"
									ng-model="insurancelookup.address1.address1" id="street_number"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Street Address 2</label> <input
									class="field form-control"
									ng-model="insurancelookup.address1.address2" id="route"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>City</label> <input class="field form-control"
									ng-model="insurancelookup.address1.city" id="locality"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>State</label> <input class="field form-control"
									ng-model="insurancelookup.address1.state"
									id="administrative_area_level_1"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>Country</label> <input class="field form-control"
									ng-model="insurancelookup.address1.country" id="country"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Zip code</label> <input class="field form-control"  allow-only-numbers
									maxlength="5" ng-model="insurancelookup.address1.zipcode"
									id="postal_code"></input>
							</div>
                              <div class="col-sm-6 form-group">
								<label>Fax</label> <input type="text"  class="form-control" name="siteName"
									placeholder="Enter Fax" ng-model="insurancelookup.fax" allow-only-numbers
									maxlength="10"required>
							</div>
							<div class="col-sm-6 form-group">
								<label>Status</label><br> <label class="radio-inline"><input
									type="radio" ng-model="insurancelookup.status" name="status"
									ng-value="true" ng-checked="!insurancelookup.status">Active</label>
								<label class="radio-inline"><input type="radio"
									ng-model="insurancelookup.status" name="status"
									ng-value="false">InActive</label>
							</div>

							<div class="col-sm-12 reset-button">
								<button class="btn btn-success" ng-click="addInsuranceLookup()"
									ng-disabled="!insurancelookup.insuranceCompanyName">Save</button>
								<a class="btn btn-danger" ng-click="gotoInsuranceLookupList()">Cancel</a>

							</div>
							<script>
								var placeSearch, autocomplete;
								var componentForm = {
									street_number : 'short_name',
									route : 'long_name',
									locality : 'long_name',
									administrative_area_level_1 : 'short_name',
									country : 'long_name',
									postal_code : 'short_name'
								};

								function initAutocomplete() {
									// Create the autocomplete object, restricting the search to geographical
									// location types.
									var options = {
										types : [ 'geocode' ],
										componentRestrictions : {
											country : 'in'
										}
									};

									autocomplete = new google.maps.places.Autocomplete(
											(document
													.getElementById('autocomplete')),
											options);

									// When the user selects an address from the dropdown, populate the address
									// fields in the form.
									autocomplete.addListener('place_changed',
											fillInAddress);
								}

								function fillInAddress() {
									// Get the place details from the autocomplete object.
									var place = autocomplete.getPlace();

									for ( var component in componentForm) {
										document.getElementById(component).value = '';
										document.getElementById(component).disabled = false;
									}

									// Get each component of the address from the place details
									// and fill the corresponding field on the form.
									for (var i = 0; i < place.address_components.length; i++) {
										var addressType = place.address_components[i].types[0];
										if (componentForm[addressType]) {
											var val = place.address_components[i][componentForm[addressType]];
											document
													.getElementById(addressType).value = val;
										}
									}
								}

								// Bias the autocomplete object to the user's geographical location,
								// as supplied by the browser's 'navigator.geolocation' object.
								function geolocate() {
									if (navigator.geolocation) {
										navigator.geolocation
												.getCurrentPosition(function(
														position) {
													var geolocation = {
														lat : position.coords.latitude,
														lng : position.coords.longitude
													};
													var circle = new google.maps.Circle(
															{
																center : geolocation,
																radius : position.coords.accuracy
															});
													autocomplete
															.setBounds(circle
																	.getBounds());
												});
									}
								}
							</script>
							<script
								src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFHF5OFfYFzoXznrZfQQU8aGOClVeXcQ&libraries=places&callback=initAutocomplete"
								async defer></script>
						</form>
					</div>
				</div>
			</div>


		</div>


	</section>
</div>