<snall></snall>
<p align="center" style="padding:10px;"><b>Evaluation for DASII</b></p>
<snall></snall>
<snall></snall>
<snall></snall>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
		<div class="col-xs-1  col-sm-1 col-md-1 p-0">
			<!-- required for floating -->
			<!-- Nav tabs -->
			<ul class="nav nav-tabs tabs-left">
				<li class="active" 
					ng-click="gotomentalscale()"><a
					 data-toggle="tab">Mental</a></li>
				<li ng-click="gotomotorscale()" ><a data-toggle="tab">Motor</a></li>

			</ul>
		</div>
		<div class="col-xs-11  col-sm-11 col-md-11 p-0" ui-view></div>
	</div>
</div>