<div
	ng-init="getAllNichqparentCategoryLookups();getAllNichqParentQuestionsLookup();">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 m-b-20">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li style="float: left;"
					ng-repeat="category in nichqParentCategoryLookupList"
					ng-click="getAllNichqParentQuestionsByPatientAndCategory(category.id);"
					ng-init=""><a href="#tab1" data-toggle="tab" target="self">{{category.name}}</a></li>
			</ul>
			<!-- Tab panels -->
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab1">
					<div class="panel-body">


						<div class="col-sm-12 table-responsive" align="justify"
							ng-if="nichqParentQuestions.length < 1">
							<table class="table table-bordered table-hover">
								<tbody>
									<tr
										ng-repeat="question in nichqParentQuestionLookupListByCategoryId">
										<td class="col-sm-8">{{question.name}}</td>
										<td class="col-sm-4">
											<div ng-if="categoryId == 1">
												<input type="radio" ng-model="question.answervalue"
													ng-value="0" />&nbsp;Never <input type="radio"
													ng-model="question.answervalue" ng-value="1" />&nbsp;Occasionally
												<input type="radio" ng-model="question.answervalue"
													ng-value="2" />&nbsp;Often <input type="radio"
													ng-model="question.answervalue" ng-value="3" />&nbsp;Very
												Often
											</div>
											<div ng-if="categoryId == 2">
												<input type="radio" ng-model="question.answervalue"
													ng-value="1" />&nbsp;Excellent <input type="radio"
													ng-model="question.answervalue" ng-value="2" />&nbsp;Above
												Average <input type="radio" ng-model="question.answervalue"
													ng-value="3" />&nbsp;Average <input type="radio"
													ng-model="question.answervalue" ng-value="4" />&nbsp;Somewhat
												of a problem <input type="radio"
													ng-model="question.answervalue" ng-value="5" />&nbsp;Problematic

											</div>
										</td>
									</tr>
								</tbody>
								<tr rowspan="3"
									ng-if="nichqParentQuestionLookupListByCategoryId.length == 0">
									<td colspan="2" align="center"><b><h1>
												<i class="fa fa-meh-o"></i> No records found!
											</h1></b></td>
								</tr>

							</table>
							<div class="reset-button col-sm-12">
								<button class="btn btn-success"
									ng-click="assignNichqParentTemplateToPatient();">Add</button>
							</div>
						</div>

						<div class="col-sm-12 table-responsive" align="justify"
							ng-if="nichqParentQuestions.length > 1">
							<table class="table table-bordered table-hover">
								<tbody>
									<tr ng-repeat="question in nichqParentQuestions">
										<td class="col-sm-8">{{question.name}}</td>
										<td class="col-sm-4">
											<div ng-if="categoryId == 1">
												<input type="radio" ng-model="question.ansValue"
													ng-value="0" />&nbsp;Never <input type="radio"
													ng-model="question.ansValue" ng-value="1" />&nbsp;Occasionally
												<input type="radio" ng-model="question.ansValue"
													ng-value="2" />&nbsp;Often <input type="radio"
													ng-model="question.ansValue" ng-value="3" />&nbsp;Very
												Often
											</div>
											<div ng-if="categoryId == 2">
												<input type="radio" ng-model="question.ansValue"
													ng-value="1" />&nbsp;Excellent <input type="radio"
													ng-model="question.ansValue" ng-value="2" />&nbsp;Above
												Average <input type="radio" ng-model="question.ansValue"
													ng-value="3" />&nbsp;Average <input type="radio"
													ng-model="question.ansValue" ng-value="4" />&nbsp;Somewhat
												of a problem <input type="radio"
													ng-model="question.ansValue" ng-value="5" />&nbsp;Problematic
											</div>
										</td>
									</tr>
								</tbody>
								<tr rowspan="3" ng-if="nichqParentQuestions.length == 0">
									<td colspan="2" align="center"><b><h1>
												<i class="fa fa-meh-o"></i> No records found!
											</h1></b></td>
								</tr>

							</table>
						</div>
						<div
							ng-if="nichqParentResult != undefined || nichqParentResult != null">
							<p>For Office Use Only</p>
							<p>Total number of questions scored 2 or 3 in questions 1-9 :</p>
							{{nichqParentResult.score1to9}}
							<p>Total number of questions scored 2 or 3 in questions 10-18
								:</p>
							{{nichqParentResult.score10to18}}
							<p>Total Symptoms score for questions 1-18 :</p>
							{{nichqParentResult.score1to18}}
							<p>Total number of questions scored 2 or 3 in questions 19-26
								:</p>
							{{nichqParentResult.score19to26}}
							<p>Total number of questions scored 2 or 3 in questions 27-40
								:</p>
							{{nichqParentResult.score27to40}}
							<p>Total number of questions scored 2 or 3 in questions 41-47
								:</p>
							{{nichqParentResult.score41to47}}
							<p>Total number of questions scored 2 or 3 in questions 48-55
								:</p>
							{{nichqParentResult.score48to55}}
							<p>Average Performance Score :</p>
							{{nichqParentResult.avgPerformanceScore}}
						</div>



						<div class="reset-button col-sm-12">
							<button class="btn btn-success"
								ng-click="assignNichqParentTemplateToPatient();">Add</button>
							<button class="btn btn-success"
								ng-click="nichqParentTemplateResult();">Report</button>
							<a class="btn btn-warning" ng-click="">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

*****


<div ng-init="getAllNichqparentCategoryLookups();">
	<div class="row">
		<div class="col-sm-12 table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td colspan="2"><label>Questions:</label></td>
					</tr>
					<tr>
						<td colspan="2"><label>
								<button type="button"
									ng-init="getAllNichqParentQuestionsByPatientAndCategory(nichqParentCategoryLookupList[0].id);">
									{{nichqParentCategoryLookupList[0].name}}</button>

						</label></td>
					</tr>
				</thead>
				<!-- Lookup Nunchi vasthundhi -->
				<tbody>
					<tr
						ng-repeat="question in nichqParentQuestionLookupListByCategoryId">
						<td class="col-sm-8">{{question.name}}</td>
						<td class="col-sm-4">
							<div ng-if="categoryId == 1">
								<input type="radio" ng-model="question.answervalue" ng-value="0" />&nbsp;Never
								<input type="radio" ng-model="question.answervalue" ng-value="1" />&nbsp;Occasionally
								<input type="radio" ng-model="question.answervalue" ng-value="2" />&nbsp;Often
								<input type="radio" ng-model="question.answervalue" ng-value="3" />&nbsp;Very
								Often
							</div>

						</td>
					</tr>
				</tbody>


				<tr rowspan="3"
					ng-if="nichqParentQuestionLookupListByCategoryId.length == 0">
					<td colspan="2" align="center"><b><h1>
								<i class="fa fa-meh-o"></i> No records found!
							</h1></b></td>
				</tr>

			</table>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<td colspan="2"><label>
								<button type="button"
									ng-init="getAllNichqParentQuestionsByPatientAndCategory(nichqParentCategoryLookupList[1].id);">
									{{nichqParentCategoryLookupList[1].name}}</button>

						</label></td>
					</tr>
				</thead>
				<!-- Lookup Nunchi vasthundhi -->
				<tbody>
					<tr
						ng-repeat="question in nichqParentQuestionLookupListByCategoryId">
						<td class="col-sm-8">{{question.name}}</td>
						<td class="col-sm-4">

							<div ng-if="categoryId == 2">
								<input type="radio" ng-model="question.answervalue" ng-value="1" />&nbsp;Excellent
								<input type="radio" ng-model="question.answervalue" ng-value="2" />&nbsp;Above
								Average <input type="radio" ng-model="question.answervalue"
									ng-value="3" />&nbsp;Average <input type="radio"
									ng-model="question.answervalue" ng-value="4" />&nbsp;Somewhat
								of a problem <input type="radio" ng-model="question.answervalue"
									ng-value="5" />&nbsp;Problematic

							</div>
						</td>
					</tr>
				</tbody>


				<tr rowspan="3"
					ng-if="nichqParentQuestionLookupListByCategoryId.length == 0">
					<td colspan="2" align="center"><b><h1>
								<i class="fa fa-meh-o"></i> No records found!
							</h1></b></td>
				</tr>

			</table>

		</div>
		<div class="reset-button">
			<button class="btn btn-success"
				ng-click="assignMentalScalestoPatient();">Save</button>

			<a class="btn btn-warning" ng-click="gotoback()">Cancel</a>
			<button class="btn btn-info" ng-click="gotoReport();">Report</button>
		</div>
	</div>
</div>

