<div class="stepwizard" ng-init="activeColor1();getAllStripePlans();">
	<div class="stepwizard-row setup-panel">
		<div class="stepwizard-step col-xs-4">
			<a type="button" class="btn btn-default btn-circle"
				ng-style="activeColor1">1</a>
			<p>
				<small>Primary Registration</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-4">
			<a type="button" class="btn btn-default btn-circle">2</a>
			<p>
				<small>Package Subscription</small>
			</p>
		</div>
		<div class="stepwizard-step col-xs-4">
			<a type="button" class="btn btn-default btn-circle">3</a>
			<p>
				<small>Summary</small>
			</p>
		</div>
	</div>
</div>
<div class="panel panel-primary setup-content" id="step-1">
	<div class="panel-heading">
		<h3 class="panel-title">Primary Registration</h3>
	</div>
	<div class="panel-body">
		<form id="registrationForm" name="registrationForm">
			<div class="form-group row">
				<div class="form-group col-lg-6">
					<label><span
						ng-if="companyType == undefined || companyType =='' "
						style="color: red">*</span>Choose Category</label><span style="color: red"
						ng-show="(registrationForm.registrationType.$touched && registrationForm.registrationType.$invalid)">
						<span ng-show="registrationForm.registrationType.$error.required">
							is required.</span>
					</span> <select ng-model="companyType" class="form-control"
						name="registrationType" aria-required="true" aria-invalid="true"
						ng-options="companyType as companyType.companyTypeName  for companyType in companyTypesList track by companyType.id"
						required>
						<option value="" class="active">Select Category Type</option>
					</select>
				</div>
				<div class="form-group col-lg-6">
					<label><span
						ng-if="user.firstName == undefined || user.firstName =='' "
						style="color: red">*</span>First Name</label><span style="color: red"
						ng-show="(registrationForm.firstName.$touched && registrationForm.firstName.$invalid)">
						<span ng-show="registrationForm.firstName.$error.required">is
							required.</span>
					</span><input type="text" value="" class="form-control" name="firstName"
						id="txt_username" ng-model="user.firstName" required>
				</div>

				<div class="form-group col-lg-6">
					<label><span
						ng-if="user.lastName == undefined || user.lastName =='' "
						style="color: red">*</span>Last Name</label> <span style="color: red"
						ng-cloak
						ng-show="(registrationForm.lastName.$touched && registrationForm.lastName.$invalid)">
						<span ng-show="registrationForm.lastName.$error.required">is
							required.</span>
					</span><input type="text" id="txt_lastname" class="form-control"
						name="lastName" ng-model="user.lastName" aria-required="true"
						aria-invalid="true"
						ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
						required>
				</div>

				<div class="form-group col-lg-6">
					<label><span
						ng-if="user.email == undefined || user.email =='' "
						style="color: red">*</span>Email Address</label><span style="color: red"
						ng-show="(registrationForm.email.$touched && registrationForm.email.$invalid)">
						<span ng-show="registrationForm.email.$error.required"> is
							required.</span> <span style="color: red"
						ng-show="registrationForm.email.$error.pattern"> Please
							enter a valid email address!</span>
					</span> <span ng-if="registrationForm.$pending.emailExists"
						style="color: red">checking....</span> <span
						ng-if="registrationForm.$error.emailExists" style="color: red">
						exists already</span> <input type="email" value="" id="txt_email"
						class="form-control" name="email" ng-model="user.email"
						aria-required="true" class="error" email-available
						ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
						ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/ " required>
				</div>
				<div class="form-group col-lg-6" ng-if="companyType.id==2 || companyType.id==1">
					<label>Clinic Name </label> <span style="color: red"
						ng-if="registrationForm.$pending.companyExists">checking....</span>
					<span ng-if="registrationForm.$error.companyExists"
						style="color: red"> Clinic already exist</span> <input
						type="text" company-available id="txt_companyname"
						class="form-control" name="companyName"
						ng-model="user.organizationName" aria-required="true"
						aria-invalid="true"
						ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
						required>
				</div>
				<div class="form-group col-lg-6" ng-if="companyType.id==3">
					<label>School Name </label> <span style="color: red"
						ng-if="registrationForm.$pending.companyExists">checking....</span>
					<span ng-if="registrationForm.$error.companyExists"
						style="color: red"> School already exist</span> <input
						type="text" company-available id="txt_companyname"
						class="form-control" name="companyName"
						ng-model="user.organizationName" aria-required="true"
						aria-invalid="true"
						ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
						required>
				</div>
				<div class="col-lg-6 form-group">
					<label><span
						ng-if="user.moiblenumber == undefined || user.moiblenumber == '' "
						style="color: red">*</span>Mobile Number</label><span style="color: red"
						ng-show="(registrationForm.mobileNumber.$dirty && registrationForm.mobileNumber.$invalid)">
						<span ng-show="registrationForm.mobileNumber.$error.required"
						style="color: red"> is required.</span>
					</span><span
						ng-show="((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
						style="color: red"> should be 10 digits </span> <span
						ng-if="registrationForm.$pending.mobileNumberExists">checking....</span>
					<span ng-if="registrationForm.$error.mobileNumberExists"
						style="color: red"> exists already</span> <input type="text"
						class="form-control"
						name="mobileNumber" ng-model="user.moiblenumber"
						placeholder="Enter Mobile Number" aria-required="true"
						class="error" id="txt_patient_mobileNumber" allow-only-numbers maxlength="10" required>
				</div>
				<!-- <div class="form-group col-lg-6" ng-if="companyType.id==1">
					<label><span
						ng-if="user.companyName == undefined || user.companyName ==''"
						style="color: red">*</span>Company Name</label> <span style="color: red"
						ng-if="registrationForm.$pending.companyExists">checking....</span>
					<span ng-if="registrationForm.$error.companyExists"
						style="color: red"> Company already exist</span> <input
						type="text" company-available class="form-control"
						name="companyName" ng-model="user.companyName"
						aria-required="true" aria-invalid="true"
						required>

				</div> -->
				<!-- <div class="form-group col-lg-6" ng-if="companyType.id==1">
					<label><span
						ng-if="user.companyName == undefined || user.companyName ==''"
						style="color: red">*</span>Clinic Name</label> <span style="color: red"
						ng-if="registrationForm.$pending.companyExists">checking....</span>
					<span ng-if="registrationForm.$error.companyExists"
						style="color: red"> Clinic Name already exist</span> <input
						type="text" company-available class="form-control"
						name="companyName" ng-model="user.companyName"
						aria-required="true" aria-invalid="true"
						ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
						required>

				</div> -->

				<div class="form-group col-lg-6">
					<label><span
						ng-if="user.password == undefined || user.password =='' "
						style="color: red">*</span>Password</label> <span style="color: red"
						ng-show="(registrationForm.psw.$touched && registrationForm.psw.$invalid)">
						<span ng-show="registrationForm.psw.$error.required">is
							required.</span><span style="color: red"
						ng-show="registrationForm.psw.$error.pattern"> Please enter
							a valid Password</span>
					</span><input type="password" class="form-control" name="psw" id="psw"
						id="psw" ng-model="user.password"
						title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
						ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
						required>
					<div id="message">
						<h3>Password must contain the following:</h3>
						<span><i id="letter" class="invalid">A lowercase letter</i></span><br>
						<span><i id="capital" class="invalid">A capital
								(uppercase) letter</i></span><br> <span><i id="number"
							class="invalid">A number</i></span><br> <span><i
							id="special" class="invalid">A Special Character[! @ # $ %
								&*]</i></span><br> <span><i id="length" class="invalid">Minimum
								8 characters</i></span>
					</div>
				</div>


				<script>
					var myInput = document.getElementById("psw");
					var letter = document.getElementById("letter");
					var capital = document.getElementById("capital");
					var number = document.getElementById("number");

					var special = document.getElementById("special");
					var length = document.getElementById("length");
					// When the user clicks on the password field, show the message box
					myInput.onfocus = function() {
						document.getElementById("message").style.display = "block";
					}

					// When the user clicks outside of the password field, hide the message box
					myInput.onblur = function() {
						document.getElementById("message").style.display = "none";
					}

					// When the user starts to type something inside the password field
					myInput.onkeyup = function() {
						// Validate lowercase letters
						var lowerCaseLetters = /[a-z]/g;
						if (myInput.value.match(lowerCaseLetters)) {
							letter.classList.remove("invalid");
							letter.classList.add("valid");
						} else {
							letter.classList.remove("valid");
							letter.classList.add("invalid");
						}

						// Validate capital letters
						var upperCaseLetters = /[A-Z]/g;
						if (myInput.value.match(upperCaseLetters)) {
							capital.classList.remove("invalid");
							capital.classList.add("valid");
						} else {
							capital.classList.remove("valid");
							capital.classList.add("invalid");
						}

						// Validate numbers
						var numbers = /[0-9]/g;
						if (myInput.value.match(numbers)) {
							number.classList.remove("invalid");
							number.classList.add("valid");
						} else {
							number.classList.remove("valid");
							number.classList.add("invalid");
						}
						// Validate Special Character
						var specials = /[!,#,$,%,&,*,+,-,.,/,:,;,<,=,>,?,@,\,^,_,`,{,|,},~]/g;
						if (myInput.value.match(specials)) {
							special.classList.remove("invalid");
							special.classList.add("valid");
						} else {
							special.classList.remove("valid");
							special.classList.add("invalid");
						}
						// Validate length
						if (myInput.value.length >= 8) {
							length.classList.remove("invalid");
							length.classList.add("valid");
						} else {
							length.classList.remove("valid");
							length.classList.add("invalid");
						}

					}
				</script>
				<div class="form-group col-lg-6">
					<label><span
						ng-if="user.repeatPassword == undefined || user.repeatPassword =='' "
						style="color: red">*</span>Repeat Password</label><span style="color: red"
						ng-cloak
						ng-show="(registrationForm.repeatPassword.$touched && registrationForm.repeatPassword.$invalid)">
						<span ng-show="registrationForm.repeatPassword.$error.required">is
							required.</span>
					</span><span
						ng-if="registrationForm.repeatPassword.$touched && (user.repeatPassword != user.password) && user.repeatPassword.length > 0 "
						style="color: red; margin-left: 10px;">Enter Correct Repeat
						Password</span> <input type="password" id="repatepassword"
						class="form-control" name="repeatPassword"
						ng-model="user.repeatPassword" required>
				</div>
				<!-- <div ng-if="companyType.id==1">
					<div class="col-sm-6 form-group">
						<label>Search</label> <input id="autocomplete"
							placeholder="Enter your address" class="form-control"
							onFocus="geolocate()" type="text"></input>
					</div>
					<div class="col-sm-6 form-group">
						<label>Street Address 1</label> <input class="field form-control"
							ng-model="user.address1" id="street_number"></input>
					</div>

					<div>
						<input class="field form-control" type="hidden"
							ng-model="user.address1" id="street_number"></input>
					</div>

					<div class="col-sm-6 form-group">
						<label>Street address 2</label> <input class="field form-control"
							ng-model="user.address2" id="route"></input>
					</div>

					<div class="col-sm-6 form-group">
						<label>City</label> <input class="field form-control"
							ng-model="user.city" id="locality"></input>
					</div>
					<div class="col-sm-6 form-group">
						<label>State</label> <input class="field form-control"
							ng-model="user.state" id="administrative_area_level_1"></input>
					</div>
					<div class="col-sm-6 form-group">
						<label>Country</label> <input class="field form-control"
							ng-model="user.country" id="country"></input>
					</div>

					<div class="col-sm-6 form-group">
						<label>Zip code</label> <input class="field form-control"
							maxlength="5" ng-model="user.zipcode" id="postal_code"></input>
					</div>


					<script>
						var placeSearch, autocomplete;
						var componentForm = {
							street_number : 'short_name',
							route : 'long_name',
							locality : 'long_name',
							administrative_area_level_1 : 'short_name',
							country : 'long_name',
							postal_code : 'short_name'
						};

						function initAutocomplete() {
							// Create the autocomplete object, restricting the search to geographical
							// location types.
							var options = {
								types : [ 'geocode' ],
								componentRestrictions : {
									country : 'us'
								}
							};

							autocomplete = new google.maps.places.Autocomplete(
									(document.getElementById('autocomplete')),
									options);

							// When the user selects an address from the dropdown, populate the address
							// fields in the form.
							autocomplete.addListener('place_changed',
									fillInAddress);
						}

						function fillInAddress() {
							// Get the place details from the autocomplete object.
							var place = autocomplete.getPlace();

							for ( var component in componentForm) {
								document.getElementById(component).value = '';
								document.getElementById(component).disabled = false;
							}

							// Get each component of the address from the place details
							// and fill the corresponding field on the form.
							for (var i = 0; i < place.address_components.length; i++) {
								var addressType = place.address_components[i].types[0];
								if (componentForm[addressType]) {
									var val = place.address_components[i][componentForm[addressType]];
									document.getElementById(addressType).value = val;
								}
							}
						}

						// Bias the autocomplete object to the user's geographical location,
						// as supplied by the browser's 'navigator.geolocation' object.
						function geolocate() {
							if (navigator.geolocation) {
								navigator.geolocation
										.getCurrentPosition(function(position) {
											var geolocation = {
												lat : position.coords.latitude,
												lng : position.coords.longitude
											};
											var circle = new google.maps.Circle(
													{
														center : geolocation,
														radius : position.coords.accuracy
													});
											autocomplete.setBounds(circle
													.getBounds());
										});
							}
						}
					</script>
					<script
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFHF5OFfYFzoXznrZfQQU8aGOClVeXcQ&libraries=places&callback=initAutocomplete"
						async defer></script>
				</div> -->
			</div>

		</form>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-if="companyType.id == undefined"
			ng-disabled=" !user.firstName || !user.lastName || !companyType.companyTypeName || !user.email || !user.moiblenumber  || !user.companyName  || !user.password  || !user.repeatPassword || (user.password != user.repeatPassword)||
			((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
			ng-click="gotopackageSubscription();getAddressFromGoogle();">Next</button>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-if="companyType.id==2 && gotoPrevious==false"
			ng-disabled=" !user.firstName || !user.lastName || !companyType.companyTypeName || !user.email || !user.moiblenumber  || !user.password  || !user.repeatPassword || registrationForm.$error.emailExists || registrationForm.email.$error.pattern || registrationForm.email.$error.required || (user.password != user.repeatPassword) || registrationForm.$error.companyExists||((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
			ng-click="gotoNextPackageSubscription(user,companyType);getAddressFromGoogle();">Next</button>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-if="companyType.id==1 && gotoPrevious==false"
			ng-disabled=" !user.firstName || !user.lastName || !companyType.companyTypeName || !user.email|| !user.moiblenumber  || !user.companyName  || !user.password  || !user.repeatPassword ||  registrationForm.$error.emailExists || registrationForm.email.$error.pattern || registrationForm.email.$error.required || registrationForm.mobileNumber.$error.required || registrationForm.mobileNumber.$error.minlength ||  registrationForm.mobileNumber.$error.maxlength || (user.password != user.repeatPassword) || registrationForm.$error.companyExists||((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
			ng-click="gotoNextPackageSubscription(user,companyType);getAddressFromGoogle();">Next</button>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-if="companyType.id==2 && gotoPrevious==true"
			ng-disabled=" !user.firstName || !user.lastName || !companyType.companyTypeName || !user.email || !user.moiblenumber  || !user.password  || !user.repeatPassword || registrationForm.$error.emailExists || registrationForm.email.$error.pattern || registrationForm.email.$error.required || (user.password != user.repeatPassword) || registrationForm.$error.companyExists||((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
			ng-click="gotoNext2PackageSubscription(user,companyType,packagePrice,packageName);getAddressFromGoogle();">Next</button>
		<button class="btn btn-primary nextBtn pull-right" type="button"
			ng-if="companyType.id==1 && gotoPrevious==true"
			ng-disabled=" !user.firstName || !user.lastName || !companyType.companyTypeName || !user.email || !user.moiblenumber  || !user.companyName  || !user.password  || !user.repeatPassword || registrationForm.$error.emailExists || registrationForm.email.$error.pattern || registrationForm.email.$error.required || (user.password != user.repeatPassword) || registrationForm.$error.companyExists||((registrationForm.mobileNumber.$error.minlength ||
                           registrationForm.mobileNumber.$error.maxlength) && 
                           registrationForm.mobileNumber.$dirty) "
			ng-click="gotoNext2PackageSubscription(user,companyType,packagePrice,packageName);getAddressFromGoogle();">Next</button>

	</div>
</div>
<style>
/* The message box is shown when the user clicks on the password field */
#message {
	display: none;
	background: white;
	color: #000;
	position: relative;
	padding: 1px;
	margin-top: 1px;
}

#message i {
	padding: 5px 35px;
	font-size: 12px;
	margin-top: -5px;
	margin: 0;
	LINE-HEIGHT: 0px
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -35px;
	content: "*";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -35px;
	content: "*";
}
</style>
