<div class="content-wrapper" >
	<section class="content-header">
		<div class="header-icon">
			<i class="pe-7s-note2"></i>
		</div>
		<div class="header-title">
			<form action="#" method="get"
				class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
				<div class="input-group">
					<input type="text" name="q" class="form-control"
						placeholder="Search..."> <span class="input-group-btn">
						<button type="submit" name="search" id="search-btn" class="btn">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
			<h1>Facility Management</h1>
			<small>Here we can add update or delete Branches </small>
			<ol class="breadcrumb hidden-xs">
				<li><a><i class="pe-7s-home"></i> Home</a></li>
				<li class="active">Facility Management</li>
			</ol>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-bd lobidrag">
					<div class="panel-heading">
						<div class="btn-group" ng-click="gotoList();">
							<a class="btn btn-primary"> <i class="fa fa-list"></i> Facilities
								List
							</a>
						</div>
					</div>
					<div class="panel-body">

						<form class="col-sm-12" name="siteForm">
							<div class="col-sm-6 form-group">
								<label>Facility Name</label> <input type="text" value=""
									class="form-control" name="siteName"
									placeholder="Enter Site  Name" ng-model="site.siteName"
									aria-required="true" aria-invalid="true"
									ng-model-options="{ allowInvalid: true, updateOn: 'blur' }"
									required> <span style="color: red" ng-cloak
									ng-show="(siteForm.siteName.$touched && siteForm.siteName.$invalid)">
									<span ng-show="siteForm.siteName.$error.required">Facility
										Name is required.</span></span>
							</div>
							<div class="col-sm-6 form-group">
								<label>Search Your Address</label> <input id="autocomplete"
									placeholder="Enter your address" class="form-control"
									onFocus="geolocate()" type="text"></input>
							</div>

							<div>
								<input class="field form-control" type="hidden"
									ng-model="site.address1" id="street_number"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Street Address </label> <input class="field form-control"
									ng-model="site.address2" id="route"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>City</label> <input class="field form-control"
									ng-model="site.city" id="locality"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>State</label> <input class="field form-control"
									ng-model="site.state" id="administrative_area_level_1"></input>
							</div>
							<div class="col-sm-6 form-group">
								<label>Country</label> <input class="field form-control"
									ng-model="site.country" id="country"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Zip code</label> <input class="field form-control"
									maxlength="6" ng-model="site.zipcode" id="postal_code"></input>
							</div>

							<div class="col-sm-6 form-group">
								<label>Status</label><br> <label class="radio-inline"><input
									type="radio" ng-model="site.status" name="status"
									ng-value="true" ng-checked="!site.status">Active</label> <label
									class="radio-inline"><input type="radio"
									ng-model="site.status" name="status" ng-value="false">InActive</label>
							</div>

							<div class="col-sm-12 reset-button">
								<button class="btn btn-success" ng-click="addSite(site)"
									ng-show="hasFeature('Site Management').canAdd==true"
									ng-disabled="siteForm.$invalid">Save</button>
								<a class="btn btn-danger" ng-click="gotoback()">Cancel</a>

							</div>
							<script>
								var placeSearch, autocomplete;
								var componentForm = {
									street_number : 'short_name',
									route : 'long_name',
									locality : 'long_name',
									administrative_area_level_1 : 'short_name',
									country : 'long_name',
									postal_code : 'short_name'
								};

								function initAutocomplete() {
									// Create the autocomplete object, restricting the search to geographical
									// location types.
									var options = {
										types : [ 'geocode' ],
										componentRestrictions : {
											country : 'in'
										}
									};

									autocomplete = new google.maps.places.Autocomplete(
											(document
													.getElementById('autocomplete')),
											options);

									// When the user selects an address from the dropdown, populate the address
									// fields in the form.
									autocomplete.addListener('place_changed',
											fillInAddress);
								}

								function fillInAddress() {
									// Get the place details from the autocomplete object.
									var place = autocomplete.getPlace();

									for ( var component in componentForm) {
										document.getElementById(component).value = '';
										document.getElementById(component).disabled = false;
									}

									// Get each component of the address from the place details
									// and fill the corresponding field on the form.
									for (var i = 0; i < place.address_components.length; i++) {
										var addressType = place.address_components[i].types[0];
										if (componentForm[addressType]) {
											var val = place.address_components[i][componentForm[addressType]];
											document
													.getElementById(addressType).value = val;
										}
									}
								}

								// Bias the autocomplete object to the user's geographical location,
								// as supplied by the browser's 'navigator.geolocation' object.
								function geolocate() {
									if (navigator.geolocation) {
										navigator.geolocation
												.getCurrentPosition(function(
														position) {
													var geolocation = {
														lat : position.coords.latitude,
														lng : position.coords.longitude
													};
													var circle = new google.maps.Circle(
															{
																center : geolocation,
																radius : position.coords.accuracy
															});
													autocomplete
															.setBounds(circle
																	.getBounds());
												});
									}
								}
							</script>
							<script
								src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYFHF5OFfYFzoXznrZfQQU8aGOClVeXcQ&libraries=places&callback=initAutocomplete"
								async defer></script>
						</form>
					</div>
				</div>
			</div>


		</div>


	</section>
</div>